@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Poppins',sans-serif,serif;
    color:#103b56;
}
p{
  font-family:'Roboto',sans-serif;
  font-size:1.25rem;
  color:#577592;
  line-height:1.8rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size: 1.5em;
}
a{
    text-decoration: none;
    display:inline-block;
}

/* utility class */
.flex{
    display:flex;
    align-items: center;
}
.small-bold{
    font-size:1rem;
    font-weight:500;
}
.align-container{
    max-width:1180;
    margin-inline:100px;
    padding-inline:20px;
}
.link ul{
    list-style: none;
}
.button2{
    background-color:#2294ed;
    color:white !important;
    font-weight:500;
    border-radius:6px;
    transition:0.2s ease-out;
    padding:12px 24px; 
    box-shadow: 0px 0px 2px #577592;  
}
.button2:hover{
    background-color:#0061ad;
}
.button1{
    border:0.5px solid #577592;
    font-weight:500;
    color:#183b56;
    border-radius:6px;
    transition:0.2s ease-out;
    padding:12px 24px; 
    box-shadow: 0px 0px 0.5px;
}
.button1:hover{
    border-color: #2294ed;
    color:#2294ed;
}

/* TOP SECtion */
.top-section{
    background-color:#e74694;
    background-image: url(../asset\asset\ 32.png);
    background-size:300px;
    background-repeat:repeat;
}
.top-text{
    color:white;
    text-align:center;
    padding:20px 30px;
}
/* ---------------- NAVIGATION ------------------*/
.logo img{
    width:200px;
}
.nav{
    justify-content: space-between;
    margin-top:20px;
}
.link{
    flex-basis:730px;
}
.link ul{
    justify-content:space-around;
}
.hover-link{
    color:#183b56;
    transition:0.2s ease-out;
}
.hover-link:hover{
    color:#2294ed;
}
/* ------header section ----------------*/
header{
    padding:50px 20px 0px 20px;
}
.header-section{
    justify-content:center;
    gap:280px
}

.header-left h1{
    color:#183b56;
    margin-top: 20px;
}
.b3{
           margin-top: 20px;
}
.header-right img{
    width:600px
}
/* ---- companies section------ */
.company-section{
    padding:50px 20px 0 20px;
    }
.c-heading p{
    text-align: center;
    color:#103b56;
    margin-bottom: 10px;
}
.companies{
    justify-content: space-between;
    flex-wrap:wrap;
}
.c-logo{
    width:156px;
}
/* ---- features section ---------*/
.fature-section{
padding:100px 20px 0 20px;
background-image: url('./asset/asset\ 33.svg');
background-repeat: no-repeat;
background-position: center;
}
.f-heading{
    text-align:center;
}
.f-heading a{
    margin-top:20px;
}
.all-features{
    flex-wrap:wrap;
    justify-content: space-between;
    row-gap:40px;
    margin-top: 20px;
}
.feature{
    flex-basis: 30%;
    text-align:center
}
.feature p{
    padding-block: 20px;
}
/*    big feature section */
.big-f-section{
    padding:80px 20px 0 20px;
}
.b-f-c{
    gap:50px;
}
.left-img img{
    width:100%;
}
.right-heading{
    flex-direction: column;
    align-items: flex-start;
}
/*     exmaple section   */
.exmaple-section{
    padding:80px 20px 120px 20px;
}
.ex-heading {
    text-align:center;
}
.ex-heading a{
    margin-top:20px;
    margin-bottom: 20px;
}
.ex-box{
    justify-content: space-between;
}
.example{
    width:21%;
    height:380px;
    position: relative;
    background: black;
    background:linear-gradient(rgb(0 0 0 0.1),rgb(0 0 0 0.8));
    background-size: cover;
    box-shadow: 0px 0px 10px black;
    transition: 0.2s ease-out;
}
.example:hover{
    box-shadow:1px 1px 10px #888;
}
.ex-text{
    /* text-align:center; */
    color:white;
    position:absolute;
    bottom:20px;
    left:30px;
    right:30px;
}
.ex-4{
    right:40px;
}
.example img{
    width:100%;
    height:100%;   
}
/*    ------ details-section-----*/
.detail-section{
    padding-block: 80px;
    background-color: #183b54;
}
.d-img img{
    width:750px;
    height:600px;
}
.d-list {
    list-style: disc;
}
.d-f{
    justify-content: flex-start;
    flex-wrap:wrap;
    column-gap:50px;
    row-gap:10px;
}
.h-heading{
    color:white;
    padding-bottom: 10px;;
}
.o-heading{
    color:white;
    padding-block:20px;
}
.p1-color{
    color:#b9cde4;
}
.u-line {
    text-decoration-style: dashed;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    
}
.detail{
    gap:350px;
}
.b-style{
    margin-top: 40px;
}
/*    cta section -----   */
.cta-section{
    padding-top:150px;
    padding-bottom:100px;
}
.cta-s{
    flex-direction: column;
    gap:30px;
}
.cta-s p{
    margin-top: 20px;
}
/*   footer            */
.footer{
    background-color:#ebf2fa;
    padding-block: 120px;
}
.foot{
    justify-content: space-between;
    align-items: flex-start;
}
.link-f{
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}
.l-logo img{
    width:200px;
}
/* ---   sub footer------ */
.sub-footer{
    padding-block:20px;
    background-color: #b9cde4;
}
.s-footer{
    padding-inline: 300px;
    justify-content: space-between;
}